<!-- <nav>
  <ul class="nav">
    <a [routerLink]="['home']">Inicio</a>
   <a [routerLink]="['datos']">Datos</a>
    <a [routerLink]="['portafolio']">Portafolio</a>
    <a [routerLink]="['contacto']">Contacto</a>
  </ul>
</nav> -->
<div class="navbar">
  <a [routerLink]="['home']">Inicio</a>
  <a [routerLink]="['datos']">Datos</a>
   <a [routerLink]="['contacto']">Contacto</a>
   <a [routerLink]="['agenda']">Agenda</a>

</div>